/* #header, #hero, #gallery, #footer genişlikleri 750px olmalı */

#header {
    width: 750px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#hero {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#gallery{
    width: 750px;
    justify-content: space-between;
    display: flex;
}


#footer {
  width: 750px;
  
}
#menu {
    background-color: #777;
    padding: 20px;
    display: flex;
    
}

/* #menu bir <nav> olmalı */
/* #menu içindeki linklerin arka plan rengi: #777 */
#menu a {
    background-color: #777;
    padding: 20px;
    display: flex;
    
}


/* #menu linklerine hover yapıldığında arka plan rengi: #000 */

#menu a:hover{
background-color: #000;
padding: 20px;
}
/* #menu linklerinin padding değeri: 20px */

/* #footer butonu metni 'Başa dön' olmalı */